<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d914d57b-5de7-467c-abf6-a0c251c97541/resourceGroups/SocialMedia/providers/Microsoft.Web/sites/SocialMedia1</ResourceId>
    <ResourceGroup>SocialMedia</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://socialmedia1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>socialmedia1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SocialMedia1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SocialMedia1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>